@charset "utf-8";

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);

@import "font-awesome";

body {
  font-family: sans-serif;
  background: url("../images/sdbg.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #c9c9c9;
}

.no-bg-body {
  background: url("#"); 
  background-color: #c9c9c9;
}

h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 54px;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);  
}

h2 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

header {
  background-color: #5199ce;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  height: 60px;
  width: 100%;
  padding-left: 50px;
  padding-top: 10px;
}

p {
  margin-left: 150px; 
  margin-right: 150px;
}

.links a {
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  color: #fff; 
  text-decoration: none;
}

.icons {
  margin-top: 25px;
}

.icons a {
  color: #000;
  padding-right: 15px;
  text-decoration: none;
}

.icons a:hover {
  color: #000; 
  padding-right: 15px;  
  text-decoration: none; 
}

.about-ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.btn {

  background: transparent;
  color: #F2F2F2;
  margin-right: 30px;
  margin-left: 15px;
  text-decoration: none;

  /* CSS Transition */
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius:    0;
  border-radius:         0;

}

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}