<body>

  <div class="container-fluid">
  
  <div class="row">
    <div class="col-xs-3 col-xs-offset-9 icons">
      <a href="https://github.com/rachaelsalter"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/rachaelsalter"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/rasalter"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="mailto:rasalter@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
   </div>
 </div>

    <div id="intro-spacer" style="height: 270px;"></div>

    <div class="row push">
      <div class="col-xs-12">
        <h1>Hi, I'm Rachael</h1>
        <h2>I enjoy long walks on the beach...and web development.</h2>
      </div>
    </div>

     <br />
     <br />

   <div class="row">
     <div class="col-xs-5 col-xs-offset-4 links">
       
      <%= button size: :large  do
      content_tag :link, link_to('About', '/about.html') end %>

      <%= button size: :large  do
      content_tag :link, link_to('Blog', '/blog.html') end %>

      <%= button size: :large  do
      content_tag :link, link_to('Resume', '/docs/rsalter.resume.pdf') end %>

    </div>
   </div>
  
  </div>
</body>